html, body {
    margin: 10;
    padding: 10;
    background: rgb(58, 44, 2);
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 200px;
    /* border: solid 2px black; */
    margin: 0 auto;
    background: rgb(90, 65, 20);
    border-radius: 3px;
}

.square {
    width: 20px;
    height: 20px;
}

.snake {
    background-color: rgb(224, 96, 156);
    border-radius: 8px;
}

.apple {
    background-image: url('./images/Danburite.png');
    background-position: 50% 50%;
    background-size: contain;
}

.wrapper {
    text-align: center;
}

button {
    display: inline;
    color: rgb(224, 96, 156);
    background: rgb(135, 207, 18);
    border-radius: 30px;
    padding: 15px 20px;
    border: none;
    margin: 20px 0;
}

button:hover,
button:focus {
    background: rgb(199, 68, 68);
    color: rgb(135, 207, 18);;
    cursor: pointer;
    border: none;
}

button:focus { outline: none; }

h1,
h2 {
    text-align: center;
    color: rgb(245, 220, 220);
    margin-bottom: 0;
}

h2 {
    font-size: 18px;
}

#music {
    display: none;
}
